# **Tarea N췈 4**

- Fecha y hora de entrega: Domingo 12 de enero, 11:59pm
- Agregue los nombres de las personas con las que discuti칩 esta tarea: __Diego Aquino__, __Jose Tamayo__, __Franco Vela__
- Env칤e su tarea haciendo el `push` de su c칩digo a su repo en GitHub Classroom:

### Evaluaci칩n

- Nota: **16/20**

춰Buen trabajo en general!

## **Mercado de autos usados**

Importa el conjunto de datos `neoauto_20240924.csv`

In [25]:
import pandas as pd

# Ruta del archivo CSV
ruta_archivo = "C:/Users/ediso/OneDrive/Documentos/GitHub/tarea-4-aquino-tamayo-vela2/neoauto_20240924.csv"

# Cargar el archivo CSV en un DataFrame
datos = pd.read_csv(ruta_archivo)
print(datos)

      value  item_id  item_price               item_name item_category  \
0     29200  1807331     29200.0       toyota hilux 2021         autos
1     98500  1807393     98500.0       lexus lx 600 2023         autos
2     16800  1739308     17800.0          bmw 520-i 2016         autos
3     15900  1805714     16900.0  chevrolet captiva 2021         autos
4     12500  1806332     12500.0     dfsk glory 500 2023         autos
...     ...      ...         ...                     ...           ...
4036  18000  1805535     18000.0     mini 5 puertas 2018         autos
4037  15000  1805482     16000.0           bmw 120i 2016         autos
4038   9000  1805528     10000.0     volkswagen gol 2022         autos
4039  30500  1805518     31500.0             bmw x5 2016         autos
4040   5500  1805432      5500.0       suzuki swift 2008         autos

     item_category_2  item_brand  item_km  item_year        item_transmission  \
0            Pick Up      TOYOTA  51635.0       2021                 Mec치nica
1     Camionetas Suv       LEXUS  15000.0       2023  Autom치tica - Secuencial
2              Sedan         BMW  66000.0       2016  Autom치tica - Secuencial
3     Camionetas Suv   CHEVROLET  40300.0       2021  Autom치tica - Secuencial
4     Camionetas Suv        DFSK  33000.0       2023                 Mec치nica
...              ...         ...      ...        ...                      ...
4036       Hatchback        MINI  32500.0       2018               Autom치tica
4037       Deportivo         BMW  83000.0       2016  Autom치tica - Secuencial
4038           Sedan  VOLKSWAGEN  43000.0       2022                 Mec치nica
4039  Camionetas Suv         BMW  32000.0       2016  Autom치tica - Secuencial
4040       Hatchback      SUZUKI   1600.0       2008               Autom치tica

      ... item_location_province    item_tag               item_advertiser  \
0     ...                   lima  Como nuevo            Erick Baz치n Ubaldo
1     ...                   lima  Como nuevo        Asesor Gabriel NovoCar
2     ...                   lima     Ocasi칩n                 Carlos Chauca
3     ...                  santa     Premium  Darwin Am칠rico Barr칩n Pastor
4     ...                   lima     Premium             GORDILLO FERNANDO
...   ...                    ...         ...                           ...
4036  ...                   lima         NaN               elizabeth arias
4037  ...                   lima         NaN              Fabrizio Canales
4038  ...                   lima         NaN         Mario Toledo Castillo
4039  ...                   lima         NaN                    SHH Hearne
4040  ...                   lima         NaN                 Susana Pati침o

     item_credit item_verified item_financed_by  santander_price  \
0           True          True        Santander              NaN
1          False          True              NaN              NaN
2           True          True        Santander          16800.0
3           True          True        Santander          15900.0
4           True          True        Santander              NaN
...          ...           ...              ...              ...
4036        True         False        Santander              NaN
4037        True         False        Santander          15000.0
4038        True         False        Santander           9000.0
4039        True         False        Santander          30500.0
4040       False         False              NaN              NaN

                          item_publication_slug item_publication_type  \
0          auto/usado/toyota-hilux-2021-1807331               PREMIUM
1          auto/usado/lexus-lx-600-2023-1807393               PREMIUM
2             auto/usado/bmw-520-i-2016-1739308               PREMIUM
3     auto/usado/chevrolet-captiva-2021-1805714               PREMIUM
4        auto/usado/dfsk-glory-500-2023-1806332               PREMIUM
...                                         ...                   ...
4036     auto/usado/mini-5-puertas-2018-1805535              GRATUITO
4037           auto/usado/bmw-120i-2016-1805482              GRATUITO
4038     auto/usado/volkswagen-gol-2022-1805528              GRATUITO
4039             auto/usado/bmw-x5-2016-1805518              GRATUITO
4040       auto/usado/suzuki-swift-2008-1805432              GRATUITO

      item_publication_type_Id
0                           25
1                           25
2                           25
3                           25
4                           25
...                        ...
4036                        27
4037                        27
4038                        27
4039                        27
4040                        27

[4041 rows x 23 columns]

1. 쮺u치l es el precio promedio de los autos de cada marca (`item_brand`) publicados en cada subcategor칤a (`item_category_2`)?

In [ ]:
# Se agrupan datos por marca y subcategoria, hallando el promedio para cada uno
precio_promedio_por_marca_y_subcategoria = datos.groupby(['item_brand', 'item_category_2'])['item_price'].mean()

# Se muestran los resultados de los promedios
print(precio_promedio_por_marca_y_subcategoria)

item_brand    item_category_2
ALFA-ROMEO    Hatchback            8500.000000
              Sedan                2500.000000
ASTON MARTIN  Camionetas Suv     229000.000000
              Deportivo          169990.000000
              Sedan              149900.000000
                                     ...
VOLVO         Camionetas Suv      41801.707317
              Deportivo            8800.000000
              Hatchback           12772.500000
              Sedan               11458.333333
              Station Wagon        6100.000000
Name: item_price, Length: 202, dtype: float64

2. 쮺u치ntos autos tienen m치s de 100,000 kil칩metros (`item_km`) pero un precio (`item_price`) menor al promedio general?

In [ ]:
# Soluci칩n
promedios = datos['item_price'].mean()

cantautos = datos[
    (datos['item_km'] > 100000) & (datos['item_price'] < precio_promedio_general)
].shape[0]

print(cantautos)

497

3. Encuentra el modelo (`item_name`) m치s caro y el m치s barato de cada marca (`item_brand`).

In [36]:
# Soluci칩n

def obtener_modelos_extremos(grupo):
    grupo_ordenado = grupo.sort_values(by='item_price', ascending=False)
    return pd.Series({
        'modelo_mas_caro': grupo_ordenado.iloc[0]['item_name'],
        'modelo_mas_barato': grupo_ordenado.iloc[-1]['item_name']
    })

# Aplicar la funci칩n a cada grupo
modelo_extremos_por_marca = datos.groupby('item_brand').apply(obtener_modelos_extremos)

# Mostrar los resultados
print(modelo_extremos_por_marca)

                       modelo_mas_caro               modelo_mas_barato
item_brand
ALFA-ROMEO         alfa-romeo 147 2006         alfa-romeo alfasud 1982
ASTON MARTIN     aston martin dbx 2021          aston martin db11 2017
AUDI                    audi rs 6 2024                    audi a4 2015
AUSTIN         austin mini cooper 1970         austin mini cooper 1970
BAIC                     baic x55 2021                  baic plus 2018
...                                ...                             ...
SWM                   swm g05 pro 2022                swm g05 pro 2022
TOYOTA               toyota hilux 2019  toyota land cruiser prado 2011
TRIUMPH              triumph tr-7 1971               triumph tr-7 1971
VOLKSWAGEN    volkswagen teramont 2023            volkswagen bora 2015
VOLVO                 volvo xc-90 2023            volvo 850 turbo 1995

[73 rows x 2 columns]

C:\Users\ediso\AppData\Local\Temp\ipykernel_25944\1154500406.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  modelo_extremos_por_marca = datos.groupby('item_brand').apply(obtener_modelos_extremos)

4. Encuentra las tres marcas con mayor n칰mero de autos financiados por Santander (`item_financed_by`).

In [38]:

autos_santander = datos[datos['item_financed_by'] == 'Santander']

# Contar el n칰mero de autos financiados por marca
financiados = autos_santander['item_brand'].value_counts().head(3)

# Mostrar los resultados
print(financiados)

item_brand
BMW       296
TOYOTA    261
NISSAN    228
Name: count, dtype: int64

5. Agrupa las publicaciones por tipo de transmisi칩n (`item_transmission`) y calcula la desviaci칩n est치ndar del precio (`item_price`) para cada tipo.

In [39]:
# Soluci칩n

# Agrupar por tipo de transmisi칩n y calcular la desviaci칩n est치ndar del precio
desviacion_estandar_por_transmision = datos.groupby('item_transmission')['item_price'].std()

# Mostrar los resultados
print(desviacion_estandar_por_transmision)

item_transmission
Autom치tica                 15332.729048
Autom치tica - Secuencial    22678.641589
Mec치nica                    8137.122127
Name: item_price, dtype: float64

6. 쮺u치l es el kilometraje promedio de las publicaciones con el tag "Premium" y de las publicaciones con el tag "Como nuevo"?

In [40]:
# Soluci칩n

# Calcular el kilometraje promedio para cada tag
kilometrajeprom = datos.groupby('item_tag')['item_km'].mean()

# Filtrar los resultados para los tags "Premium" y "Como nuevo"
kilometraje_promedio_premium = kilometrajeprom.get('Premium', None)
kilometraje_promedio_como_nuevo = kilometrajeprom.get('Como nuevo', None)

# Mostrar los resultados
print(f"Kilometraje promedio para 'Premium': {kilometraje_promedio_premium}")
print(f"Kilometraje promedio para 'Como nuevo': {kilometraje_promedio_como_nuevo}")

Kilometraje promedio para 'Premium': 48400.235897435894
Kilometraje promedio para 'Como nuevo': 35963.47619047619

7. 쮺u치les son las marcas de veh칤culas para los que todos sus modelos fabricados en los 칰ltimos 5 a침os tienen al menos 5 publicaciones cada una?

In [43]:
# Soluci칩n
import datetime

# Calcular el a침o actual
a침o = datetime.datetime.now().year

# Filtrar autos fabricados en los 칰ltimos 5 a침os
ultimosa침os = datos[datos['item_year'] >= (a침o - 5)]

# Contar publicaciones por marca y modelo
numpubli =ultimosa침os.groupby(['item_brand', 'item_name']).size()

# Filtrar modelos con al menos 5 publicaciones
cincopubl = numpubli[numpubli >= 5]

# Contar cu치ntos modelos cumplen por marca
cumplen = cincopubl.groupby(level=0).size()

# Filtrar marcas donde todos sus modelos cumplen con la condici칩n
marcas_cumplen = cumplen[cumplen ==
                                               cincopubl.groupby(level=0).count()].index

# Mostrar las marcas que cumplen la condici칩n
print(marcas_cumplen.tolist())

['AUDI', 'BMW', 'CHEVROLET', 'DFSK', 'FIAT', 'FORD', 'HAVAL', 'HONDA', 'HYUNDAI', 'JEEP', 'KIA', 'MAZDA', 'MG', 'NISSAN', 'PEUGEOT', 'RENAULT', 'SUBARU', 'TOYOTA', 'VOLKSWAGEN', 'VOLVO']

## **Evoluci칩n econ칩mica internacional**

Importa el conjunto de datos de la hoja "Data" del archivo `pwt1001.xlsx`. El diccionario de variables est치 disponible en la hoja "Legend" del archivo Excel.

1. Calcule el PBI per c치pita real ajustado por poder de paridad de compra (PPP). Use la variable de PBI que se calcula por gasto y la poblaci칩n. 쮺u치les son los 10 pa칤ses top?

In [40]:
# Soluci칩n
import pandas as pd
data = pd.read_excel("C:/Users/HP/Documents/GitHub/tarea-4-aquino-tamayo-vela2/pwt1001.xlsx", sheet_name='Data')

data['rgdpe_pc_ppp'] = data['rgdpe'] / data['pop']

recent_years = data.groupby('countrycode')['year'].max().reset_index()
recent_data = pd.merge(recent_years, data, on=['countrycode', 'year'])

top_10_countries = recent_data.nlargest(10, 'rgdpe_pc_ppp')[['country', 'rgdpe_pc_ppp']]

print(top_10_countries)

                  country   rgdpe_pc_ppp
102            Luxembourg  112941.453342
104      China, Macao SAR  105337.890061
139                 Qatar  103445.127269
79                Ireland  102353.631443
146             Singapore   88619.305271
22                Bermuda   79967.588736
31            Switzerland   71831.637057
43         Cayman Islands   70208.345162
4    United Arab Emirates   69753.215256
26      Brunei Darussalam   67555.392597

2. Genera el r치nking de los pa칤ses con el mayor incremento del PBI per c치pita real PPP entre los a침os 1990 y 2019. 쮻칩nde se ubica Per칰? Para los pa칤ses que no tengan informaci칩n para dichos a침os, puede utilizar datos provenientes de hasta dos a침os antes o despu칠s

In [7]:
# Soluci칩n
data_filtered = data[(data['year'] >= 1988) & (data['year'] <= 2021)]

data_1990 = data_filtered.loc[data_filtered['year'].sub(1990).abs().groupby(data_filtered['countrycode']).idxmin()]
data_2019 = data_filtered.loc[data_filtered['year'].sub(2019).abs().groupby(data_filtered['countrycode']).idxmin()]

merged_data = pd.merge(
    data_1990[['countrycode', 'country', 'rgdpe_pc_ppp']].rename(columns={'rgdpe_pc_ppp': 'rgdpe_pc_ppp_1990'}),
    data_2019[['countrycode', 'rgdpe_pc_ppp']].rename(columns={'rgdpe_pc_ppp': 'rgdpe_pc_ppp_2019'}),
    on='countrycode'
)

merged_data['ppp_growth'] = merged_data['rgdpe_pc_ppp_2019'] - merged_data['rgdpe_pc_ppp_1990']

ranking = merged_data.sort_values(by='ppp_growth', ascending=False).reset_index(drop=True)

peru_position = ranking[ranking['countrycode'] == 'PER'].index[0] + 1 if 'PER' in ranking['countrycode'].values else None

top_10_countries = ranking[['country', 'ppp_growth']].head(10)
print("Top 10 pa칤ses con mayor incremento en PBI per c치pita real PPP:")
print(top_10_countries)

if peru_position:
    print(f"\nPer칰 se encuentra en la posici칩n: {peru_position}")
else:
    print("\nPer칰 no tiene datos disponibles para este an치lisis.")

Top 10 pa칤ses con mayor incremento en PBI per c치pita real PPP:
            country    ppp_growth
0           Ireland  82726.713568
1  China, Macao SAR  78788.824158
2             Qatar  75444.868541
3         Singapore  67092.155508
4        Luxembourg  66997.038564
5           Bermuda  48231.808944
6             Malta  35968.133995
7            Norway  34098.305410
8            Kuwait  34055.592958
9      Saudi Arabia  32993.864961

Per칰 se encuentra en la posici칩n: 82

3. Para el periodo 2010-2019, calcule el promedio del 칤ndice del capital humano. 쯈u칠 relaci칩n existe entre esta variable y el PBI per c치pita real PPP calculado previamente? 쯫 el n칰mero de horas laboradas al a침o por los trabajadores?

In [9]:
# Soluci칩n
import seaborn as sns
import matplotlib.pyplot as plt

data['rgdpe_pc_ppp'] = data['rgdpe'] / data['pop']

data_period = data[(data['year'] >= 2010) & (data['year'] <= 2019)]

hc_avg = data_period.groupby('countrycode')['hc'].mean().reset_index()
hc_avg = hc_avg.rename(columns={'hc': 'hc_avg'})

ppp_avg = data_period.groupby('countrycode')['rgdpe_pc_ppp'].mean().reset_index().rename(columns={'rgdpe_pc_ppp': 'ppp_avg'})
avh_avg = data_period.groupby('countrycode')['avh'].mean().reset_index().rename(columns={'avh': 'avh_avg'})

combined_data = hc_avg.merge(ppp_avg, on='countrycode').merge(avh_avg, on='countrycode')

print("Resumen de datos combinados:")
print(combined_data.describe())

Resumen de datos combinados:
           hc_avg        ppp_avg      avh_avg
count  145.000000     183.000000    66.000000
mean     2.608130   21824.936268  1874.186633
std      0.688566   22370.442294   270.522674
min      1.195960     760.055772  1390.170680
25%      2.034321    5221.510286  1669.381684
50%      2.674898   14008.432573  1849.780904
75%      3.164617   30751.445052  2082.694520
max      3.738265  127462.470192  2444.905644

4. A partir de la variable del precio de los hogares, calcula los pa칤ses y los a침os en los cuales se registr칩 la mayor inflaci칩n anual para todo el periodo de tiempo disponible en la base de datos

In [33]:
# Soluci칩n
if {'country', 'year', 'pl_c'}.issubset(data.columns):
    data_sorted = data.sort_values(by=['country', 'year'])
    
    data_sorted['inflation'] = data_sorted.groupby('country')['pl_c'].pct_change() * 100
    
    max_inflation_row = data_sorted.loc[data_sorted['inflation'].idxmax()]
    
    print(f"Mayor inflaci칩n anual registrada:")
    print(f"Pa칤s: {max_inflation_row['country']}")
    print(f"A침o: {int(max_inflation_row['year'])}")
    print(f"Inflaci칩n: {max_inflation_row['inflation']:.2f}%")

Mayor inflaci칩n anual registrada:
Pa칤s: Venezuela (Bolivarian Republic of)
A침o: 2017
Inflaci칩n: 355.75%

C:\Users\HP\AppData\Local\Temp\ipykernel_17568\2485677633.py:7: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  data_sorted['inflation'] = data_sorted.groupby('country')['pl_c'].pct_change() * 100

5. 쮺u치les son los pa칤ses con la mayor cantidad de missing values en la variable de productividad total de factores a precios corrientes?

In [30]:
# Soluci칩n

if 'ctfp' in data.columns and 'country' in data.columns:
   
    missing_values = data.groupby('country')['ctfp'].apply(lambda x: x.isnull().sum())
    
    missing_values_sorted = missing_values.sort_values(ascending=False)
    
    print(missing_values_sorted.head(10))

country
Albania                           70
Turkmenistan                      70
Sint Maarten (Dutch part)         70
Grenada                           70
Ghana                             70
Georgia                           70
Gambia                            70
St. Vincent and the Grenadines    70
Pakistan                          70
Ethiopia                          70
Name: ctfp, dtype: int64

6.  Agrupa los datos por pa칤s y calcula el promedio de las horas trabajadas anuales (avh) y de la educaci칩n promedio (hc) para el periodo 2000-2020.

In [39]:
# Soluci칩n
filtered_data = data[(data['year'] >= 2000) & (data['year'] <= 2020)]
if {'country', 'avh', 'hc'}.issubset(filtered_data.columns):

    averages = filtered_data.groupby('country')[['avh', 'hc']].mean()

    print("Promedios de horas trabajadas anuales y educaci칩n promedio (2000-2020):")
    print(averages)

Promedios de horas trabajadas anuales y educaci칩n promedio (2000-2020):
                                            avh        hc
country
Albania                                     NaN  2.895579
Algeria                                     NaN  2.080837
Angola                                      NaN  1.399746
Anguilla                                    NaN       NaN
Antigua and Barbuda                         NaN       NaN
...                                         ...       ...
Venezuela (Bolivarian Republic of)  1874.516018  2.538335
Viet Nam                            2243.230824  2.407059
Yemen                                       NaN  1.444725
Zambia                                      NaN  2.304970
Zimbabwe                                    NaN  2.388763

[183 rows x 2 columns]

7.  Genere una variable que ordene a los pa칤ses seg칰n el porcetaje de formaci칩n brutal de capital del 2019. Luego, estable diez grupos a manera de deciles. 쮼n qu칠 decil se ubica P칠ru? Vuelva a calcular usando la informaci칩n de 1990. 쮼l Per칰 se mantiene en el mismo d칠cil o cambia?

In [41]:
# Soluci칩n
data_2019 = data[data['year'] == 2019]
data_1990 = data[data['year'] == 1990]

if {'country', 'csh_i'}.issubset(data.columns):
    data_2019 = data_2019.sort_values(by='csh_i', ascending=False)
    data_2019['decile_2019'] = pd.qcut(data_2019['csh_i'], 10, labels=False) + 1  

    data_1990 = data_1990.sort_values(by='csh_i', ascending=False)
    data_1990['decile_1990'] = pd.qcut(data_1990['csh_i'], 10, labels=False) + 1  
    
    peru_2019 = data_2019[data_2019['country'] == 'Peru']['decile_2019'].values
    peru_1990 = data_1990[data_1990['country'] == 'Peru']['decile_1990'].values

   
    print(f"Per칰 en 2019 est치 en el decil: {peru_2019[0] if len(peru_2019) > 0 else 'No disponible'}")
    print(f"Per칰 en 1990 est치 en el decil: {peru_1990[0] if len(peru_1990) > 0 else 'No disponible'}")

    if peru_2019 and peru_1990:
        if peru_2019[0] == peru_1990[0]:
            print("Per칰 se mantiene en el mismo decil en 1990 y 2019.")
        else:
            print("Per칰 cambia de decil entre 1990 y 2019.")
    else:
        print("No hay informaci칩n suficiente para Per칰 en uno o ambos a침os.")

Per칰 en 2019 est치 en el decil: 5
Per칰 en 1990 est치 en el decil: 4.0
Per칰 cambia de decil entre 1990 y 2019.

## **Transacciones Financieras**

Importa el conjunto de datos `base_financiera.csv`

8. Filtra todas las transacciones de tipo "Debit" en las que el monto sea mayor a 200, y calcula el monto total de esas transacciones. Adem치s, determina cu치ntos clientes 칰nicos realizaron esas transacciones.

In [240]:
# Soluci칩n 

import pandas as pd

# Cargamos los datos desde el archivo CSV
data_frame_BF = pd.read_csv("base_financiera.csv")

# Filtramos las transacciones de tipo "Debit" con monto mayor a 200
filtro_debit_mayor_a_200 = (data_frame_BF["Transaction_Type"] == "Debit") & (data_frame_BF["Amount"] > 200) # Mediante un conector l칩gico establecemos las condiciones de inter칠s
transacciones_filtradas = data_frame_BF[filtro_debit_mayor_a_200] # Hacemos uso del filtro en el data frame
print(transacciones_filtradas)

# Calculamos el monto total de las transacciones mayores a 200 u.m. realizadas con tarjeta de d칠bito
monto_total = transacciones_filtradas["Amount"].sum() # Sumamos los valores ya filtrados de la columna "Amount"
print(f"游늷 La suma total de las transaciones mayores a 200 u.m. realizadas con tarjeta de d칠bito es de {monto_total} u.m.")

# Calculamos el n칰mero de clientes 칰nicos que reaizaron estas transacciones
clientes_unicos = len(transacciones_filtradas["Customer_ID"].unique()) # Hacemos uso de la funci칩n unique para filtrar a los clientes 칰nicos. Usamos len() para la cantidad total 
print(f"游늷 El n칰mero total de clientes 칰nicos que realizaron transacciones mayores a 200 u.m con tarjeta de d칠bito fue de {clientes_unicos}")

      Transaction_ID Customer_ID        Date   Amount Transaction_Type Region
1               1002        C016  2023-01-02   906.97            Debit  South
2               1003        C033  2023-01-03  1579.96            Debit  South
4               1005        C035  2023-01-05  3719.21            Debit  North
5               1006        C078  2023-01-06  3127.58            Debit   West
8               1009        C031  2023-01-09  4044.73            Debit   West
...              ...         ...         ...      ...              ...    ...
2016            1747        C171  2023-01-27  2498.66            Debit   West
2021            2665        C072  2023-01-25  3060.79            Debit  South
2026            2180        C072  2023-01-20  4406.49            Debit  South
2027            1965        C022  2023-01-05   676.48            Debit  North
2028            1793        C107  2023-02-02  4099.63            Debit  North

[1094 rows x 6 columns]
游늷 La suma total de las transaciones mayores a 200 u.m. realizadas con tarjeta de d칠bito es de 2847871.75 u.m.
游늷 El n칰mero total de clientes 칰nicos que realizaron transacciones mayores a 200 u.m con tarjeta de d칠bito fue de 200

9. Identifica las transacciones con valores nulos en la columna (`Amount`) . Rellena esos valores con la mediana de los montos por tipo de transacci칩n (`Transaction_Type`) y luego calcula el monto total de transacciones por regi칩n (`region`) .

In [244]:
# Soluci칩n

# Identificamos las transacciones con valores nulos de la columna "Amount"
filtro_null_values_amount = data_frame_BF["Amount"].isnull() # Filtramos los valores nulos de la columna "Amount". Existen 113
null_values_amount = data_frame_BF[filtro_null_values_amount] # Aplicamos el filtro al data frame

# Rellenamos valores nulos de la columna "Amount" con la mediana de los montos por tipo de transacci칩n
filtro_debit = data_frame_BF[data_frame_BF["Transaction_Type"] == "Debit"] # Filtramos las transacciones con d칠bito
filtro_credit = data_frame_BF[data_frame_BF["Transaction_Type"] == "Credit"] # Filtramos las transacciones con cr칠dito

median_debit_amounts = filtro_credit["Amount"].median() # Calculamos la mediana de los montos realizados con d칠bito (2424.42)
median_credit_amounts = filtro_debit["Amount"].median() # Calculamos la mediana de los montos realizados con cr칠dito (2461.04)

data_frame_BF.loc[ (data_frame_BF["Transaction_Type"] == "Debit") & (data_frame_BF["Amount"].isnull()), "Amount"] = median_debit_amounts # Rellenamos los valores nulos de categor칤a d칠bito 
data_frame_BF.loc[ (data_frame_BF["Transaction_Type"] == "Credit") & (data_frame_BF["Amount"].isnull()), "Amount"] = median_credit_amounts # Rellenamos los valores nulos de categor칤a cr칠dito
print(f"Ahora, luego de rellenar los valores con la mediana de los montos por tipo de transacci칩n, existe un total de {len(null_values_amount)} valores nulos en la columna Amount")

# Ahora vamos a calcular el monto total de transacciones por regi칩n
value_of_amount_per_region = data_frame_BF.groupby("Region")["Amount"].sum()
print(f"Considerando los cambios aplicados, calculamos el monto total de transacciones realizadas por {value_of_amount_per_region}")

Ahora, luego de rellenar los valores con la mediana de los montos por tipo de transacci칩n, existe un total de 0 valores nulos en la columna Amount
Considerando los cambios aplicados, calculamos el monto total de transacciones realizadas por Region
East     1268860.23
North    1320785.52
South    1207824.17
West     1233882.08
Name: Amount, dtype: float64

10. Busca transacciones duplicadas considerando las columnas (`Customer_ID`) y (`Date`). Elimina los duplicados manteniendo solo la primera ocurrencia. Luego, agrupa las transacciones restantes por (`Customer_ID`) y calcula el monto promedio y la cantidad de transacciones por cliente.

In [ ]:
# Soluci칩n

# Eliminamos las transacciones duplicadas de las columnas Customer y Date, manteniendo la primera ocurrencia
df_sin_duplicados = data_frame_BF.drop_duplicates(subset=["Customer_ID", "Date"], keep = "first")

# Agrupamos las transacciones restantes y calculamos el monto promedio y cantidad de transacciones por cliente
resultados = df_sin_duplicados.groupby("Customer_ID").agg( # Agrupamos cada fila por cliente para juntar todas sus transacciones realizadas
    promedio_monto = ("Amount", "mean"),  # Promedio del monto
    cantidad_transacciones = ("Amount", "count")  # Cantidad de transacciones
).reset_index()

print(resultados)

    Customer_ID  promedio_monto  cantidad_transacciones
0          C001     3281.165294                      17
1          C002     1881.827778                       9
2          C003     3102.125000                      14
3          C004     2879.267143                       7
4          C005     3364.053333                       6
..          ...             ...                     ...
195        C196     2566.555000                      10
196        C197     2530.674286                      14
197        C198     2484.925000                      12
198        C199     2934.714000                       5
199        C200     2189.666000                       5

[200 rows x 3 columns]